@use '../base/variables' as *;
@use 'sass:map';
@use '../utilities/maps' as *;
@use '../components/header' as *;
@use '../utilities/extends' as *;
@use '../utilities/mixins' as *;
/*footer*/
.footer {
  background-color: map.get($colors,black-color);
}

.footer__logo{
  @extend .nav__logo;//extencion de clase
}

.footer__container{
  color: map.get($colors,white-color);
  padding: 30px 0;
  width: min(90%, 1440px);
  overflow: hidden;
  margin: 0 auto;
}

.footer__main{
  @extend %grid-gap;
  justify-items: center;
}

.footer__contact{
  max-width: 390px;
  @extend %grid-gap;
  text-align: center;
}

.footer__copy{
  background-color: map.get($colors,primary-color);
  color: map.get($colors,black-color);
  font-weight: $median-font;
  padding: 4px;
  border-radius: 6px;
  justify-self: center;
}

.footer__social{
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.footer__social--link{
  width: 36px;
  height: 36px;
  background-color: map.get($colors,white-color);
  border-radius: 50%;
  @include flex (flex, center, center);
}

.footer__copyright{
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 2px solid map.get($colors,white-color);
}

.footer__copyright--paragraph{
  text-align: center;
}