//Color
// $primary-color: #1B56FD;
// $secundary-color: #0118D8;
// $white-color: #ffffff;
// $black-color: #000000;
// $dull-gray: #dddddd;
// $gray : #555555;
// $light-gray : #efefef;


//fuente adaptable
$adjustable-font: clamp(1.8rem, 4vw + 1rem, 2.8rem);

$main-font: Fira Sans, sans-serif;

$bold-font: 700;
$median-font: 500;